.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-box h2 {
  text-align: center;
  color: #4f7cff;
}

.login-box input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #1a1a1a;
  color: white;
}
